.date {
	font-style: italic;
}

.container {
	font-family: 'Titillim Web', sans-serif;
	font-style: "Semi-Bold" 600;
}

.list {
	padding-top: 20px;
}

.summary {
	font-style: italic;
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #dfdfdf;
}

.header {
	color: #dfdfdf;
}

.header p {
	font-size: 18px;
	padding-top: 23px;
}

.header h1 {
	font-size: 55px;

}

.details {
	padding-top: 25px;
}

.details .col-md-3 {
	font-style: italic;
}

h2 {
	color: #dfdfdf;
}

.well {
	background-color: #dddddd;
}